---
layout: default
---

<!-- home
   ================================================== -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/126shadow.jpg"
    data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h3>Hello There</h3>

            <h1>
                I am Fatma Saei. <br>
                I am an English Teacher <br>
                & an Artist.
            </h1>

            <div class="home-content__buttons">
                <a href="#works" class="smoothscroll btn btn--stroke">
                    Latest Projects
                </a>
                <a href="#about" class="smoothscroll btn btn--stroke">
                    More About Me
                </a>
            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

        </div>

    </div> <!-- end home-content -->

    <ul class="home-social">
        {% for item in site.data.social_media %}
        <li>
            <a target="_blank" href="{{ item.account_link }}">
                <i class="im im-{{ item.app_name }}" aria-hidden="true"></i>
                <span>{{ item.app_name | capitalize}}</span></a>
        </li>
        {% endfor %}
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->

<!-- about
    ================================================== -->
<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>Howdy!</h3>
            <h1>About Me</h1>
            <p class="lead">My favourite quote is <br>
                “Be the change that you wish to see in the world.” <br>
                and form this start point, I will lead my passion to make the world a better place.</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Want to know more?</h3>

            <p>
                Hey! I am Fatma Saei and before I tell more about myself allow me
                please to ask you this .. Do you know how to make a successful trade? <br>
                As an adventurer and a passionate person I discovered the answer throughout my life.
                Learning and Teaching is the key of every success, and oh boy I LOVE these two.
                Learning is something so important that makes you and I more aware about
                what is around us. Thus, I love to shout-out every once in a while
                "What is NEW, world?" so I can learn it and then transfer it to others.
                By saying "transfer" I actually mean teaching.
                So Teaching gives me this golden chance through which I can pass what
                I learned, in my way, to the world.
                Only then can you consider yourself a successful trader.
            </p>
            <p>
                Throughout this Learning and teaching process,
                I focuse on the kids and their needs.
                This young age needs lots of support to build up
                everything inside them as languistics, hobbies, values ... etc.
                And this what I am trying to do. I want to create a wonderful
                & safe world for them throughout activities, stories,
                games, cartoons as well as teaching.
            </p>
        </div>

        <div class="col-six tab-full right">
            <h3>I've Got Some skills.</h3>

            <ul class="skill-bars">
                {% for item in site.data.skills %}
                <li>
                    <div class="progress percent{{ item.percentage }}">
                        <span>{{ item.percentage }}%</span>
                    </div>
                    <strong>{{ item.skill_name }}</strong>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a target="_blank" href="assets/myCV.pdf" class="btn btn--primary full-width">
                Download My CV</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#contact" class="btn full-width">
                Hire Me Now</a>
        </div>

    </div> <!-- end about-content buttons -->

    <div class="row about-content about-content--timeline">

        <div class="col-full text-center">
            <h3>My Work Experience.</h3>
        </div>

        <div class="col-six tab-full left">
            <div class="timeline">

                {% for item in site.data.experience.left_roles %}
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">{{ item.date }}</p>
                        <h3>{{ item.title }}</h3>
                        <h5>in {{ item.employer }} <br>
                            {{ item.location }}</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            {{ item.description }}
                        </p>

                    </div>
                </div> <!-- end timeline__block -->
                {% endfor %}
            </div> <!-- end timeline -->
        </div> <!-- end left -->

        <div class="col-six tab-full right">
            <div class="timeline">
                {% for item in site.data.experience.right_roles %}
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">{{ item.date }}</p>
                        <h3>{{ item.title }}</h3>
                        <h5>in {{ item.employer }} <br>
                            {{ item.location }}</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            {{ item.description }}
                        </p>

                    </div>
                </div> <!-- end timeline__block -->
                {% endfor %}

            </div> <!-- end timeline -->
        </div> <!-- end right -->

    </div> <!-- end about-content timeline -->

</section> <!-- end about -->

<!-- works
    ================================================== -->
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>See My Latest Projects.</h1>

            <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure
                esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut
                laborum non est in officia.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images\portfolio\gallery\re.brary .jpg" class="thumb-link" title="ٌre.brary"
                            data-size="1050x700">
                            <img src="images\portfolio\gallery\re.brary .jpg"
                                srcset="images\portfolio\gallery\re.brary .jpg 1x, images\portfolio\gallery\re.brary .jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            re-libaray post
                        </h3>
                        <p class="item-folio__cat">
                            logo / post
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/queen gogo.jpg" class="thumb-link" title="Winter Queen"
                            data-size="1050x700">
                            <img src="images/portfolio/queen gogo.jpg"
                                srcset="images/portfolio/queen gogo.jpg 1x, images/portfolio/queen gogo@2x.jpg 2x"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Winter Queen
                        </h3>
                        <p class="item-folio__cat">
                            Web Design
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-salad.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/salad.jpg"
                                srcset="images/portfolio/salad.jpg 1x, images/portfolio/salad@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Salad
                        </h3>
                        <p class="item-folio__cat">
                            Branding
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/woodcraft.jpg"
                                srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Woodcraft
                        </h3>
                        <p class="item-folio__cat">
                            Branding
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-skaterboy.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/skaterboy.jpg"
                                srcset="images/portfolio/skaterboy.jpg 1x, images/portfolio/skaterboy@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Skaterboy
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-liberty.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/liberty.jpg"
                                srcset="images/portfolio/liberty.jpg 1x, images/portfolio/liberty@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Liberty
                        </h3>
                        <p class="item-folio__cat">
                            Branding
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-minimalismo.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/minimalismo.jpg"
                                srcset="images/portfolio/minimalismo.jpg 1x, images/portfolio/minimalismo@2x.jpg 2x"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Minimalismo
                        </h3>
                        <p class="item-folio__cat">
                            Web Design
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" data-size="1050x700">
                            <img src="images/portfolio/shutterbug.jpg"
                                srcset="images/portfolio/shutterbug.jpg 1x, images/portfolio/shutterbug@2x.jpg 2x"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Lady Shutterbug
                        </h3>
                        <p class="item-folio__cat">
                            Branding
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

        </div>
    </div> <!-- end masonry -->

</section> <!-- end works -->



<!-- testimonials
    ================================================== -->
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">
            {% for item in site.data.recommendations %}
            <div class="testimonials__slide">
                <img src="{{ item.img_path }}" alt="Author image" class="testimonials__avatar">
                <p>
                    {{ item.message }}
                </p>
                <div class="testimonials__author h06">
                    {{ item.name }}
                    <span>{{ item.title }}</span>
                </div>
            </div>
            {% endfor %}

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div> <!-- end s-testimonials -->


<!-- blog
    ================================================== -->
<section id="blog" class="s-blog target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Journal</h3>
            <h1>Latest From The Blog.</h1>
            <p class="lead">
                Here I write freely and openly sharing my thoughts
            </p>
        </div>
    </div>

    <div class="row blog-content">
        <div class="col-full">

            <div class="blog-list block-1-2 block-tab-full">
                {% for post in site.posts %}
                <article class="col-block">

                    <div class="blog-date">
                        <a href="blog-single.html">{{post.date}}</a>
                    </div>

                    <h2 class="h01"><a href="blog-single.html">{{post.title}}</a></h2>
                    <p>
                        {{ post.excerpt }}
                    </p>

                    <div class="blog-cat">
                        {% for cat in post.categories %}
                        <a href="blog.html">{{cat}}</a>
                        {% endfor %}
                    </div>


                </article>
                {% endfor %}
            </div> <!-- end blog-list -->

        </div> <!-- end col-full -->
    </div> <!-- end blog-content -->

</section> <!-- end s-blog -->


<!-- s-cta
    ================================================== -->
<section class="s-cta">

    <div class="row narrow cta">

        <div class="col-full cta__content">

            <h2 class="h01">
                Freelancing
            </h2>

            <p class="lead">
                Looking for transforming your awesome ideas into reality? <br>
                Contact me for more interesting discussions.
            </p>

            <div class="cta__action">
                <a class="btn btn--primary btn--large" href="index.html#contact">
                    Place your order</a>
            </div>

        </div>

    </div> <!-- end cta -->

</section>


<!-- s-stats
    ================================================== -->
<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">
        {% for item in site.data.statistics %}
        <div class="col-block stats__col {% if item.highlighted %}stats__col--highlight{% endif %}">
            {% if item.up_arrow %}
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            {% endif %}
            <div class="stats__count">
                {{item.number}}
            </div>
            <h4>{{item.title}}</h4>
        </div>
        {% endfor %}
    </div>
</section> <!-- end s-stats -->


<!-- s-stats
    ================================================== -->
<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>Contact</h3>
            <h1>Say Hello.</h1>

            <p class="lead">
                {{site.data.info.contact_msg}}
            </p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form name="contactForm" id="contactForm" action="https://formspree.io/f/xoqpoggw" method="POST">
                <fieldset>

                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                            required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                            required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value=""
                            class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Type your message" rows="10"
                            cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div>

            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div>
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Email</h4>
            <p>
                {{site.data.info.email}}
            </p>

            <h4 class="h06">Address</h4>
            <p>
                {{site.data.info.address_kuwait}} <br>
                {{site.data.info.address_egypt}}
            </p>
        </div>

    </div>

</section> <!-- end s-contact -->