<!-- footer
    ================================================== -->
<footer>
    <div class="row">
        <div class="col-full">

            <div class="footer-logo">
                <a class="footer-site-logo" href="{{baseurl}}/index.html"><img src="{{'images/white fox logo.png' | relative_url}}" alt="Homepage"></a>
            </div>

            <ul class="footer-social">
                {% for item in site.data.social_media %}
                <li><a target="_blank" href="{{ item.account_link }}">
                        {% if item.image_logo == '0' %}
                            <i class="im im-{{ item.app_name }}" aria-hidden="true"></i>
                        {% else %}
                            <img style="width: 20px;" src="{{baseurl}}/images/{{item.image_logo}}"></img>
                        {% endif %}
                        <span>{{ item.app_name | capitalize}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="row footer-bottom">

        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright Hola 2017</span>
                <span>Based on design by <a href="https://www.styleshout.com/">styleshout</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up"
                        aria-hidden="true"></i></a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> <!-- end footer -->