    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html"><img src="images/white fox logo.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll" href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll" href="{{site.url}}index.html#about" title="about">About</a></li>
                <li><a class="smoothscroll" href="{{site.url}}index.html#works" title="works">Projects</a></li>
                <li><a class="smoothscroll" href="index.html#blog" title="blog">Blog</a></li>
                <li><a class="smoothscroll" href="index.html#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->
