<head>

    <!--- basic page needs================================================== -->
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{'css/base.css' | relative_url}}">
    <link rel="stylesheet" href="{{'css/vendor.css' | relative_url}}">
    <link rel="stylesheet" href="{{'css/main.css' | relative_url}}">

    <!-- script
    ================================================== -->
    <script src="{{'js/modernizr.js' | relative_url}}"></script>
    <script src="{{'js/pace.min.js' | relative_url}}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{'favicon.ico' | relative_url}}" type="image/x-icon">
    <link rel="icon" href="{{'favicon.ico' | relative_url}}" type="image/x-icon">

</head>